<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL.Properties.Fournisseurs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DAL.Fournisseurs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DAL.Properties.Connexion" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
    <userSettings>
        <DAL.Properties.Fournisseurs>
            <setting name="Chemin" serializeAs="String">
                <value>C:\Users\Administrateur\Desktop\Ani-Forme\fournisseurs.txt</value>
            </setting>
        </DAL.Properties.Fournisseurs>
        <DAL.Fournisseurs>
            <setting name="Chemin" serializeAs="String">
                <value>fournisseur.txt</value>
            </setting>
        </DAL.Fournisseurs>
        <DAL.Properties.Connexion>
            <setting name="Database" serializeAs="String">
                <value>ani_forme</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>Pa$$w0rd</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>10.21.200.29</value>
            </setting>
        </DAL.Properties.Connexion>
    </userSettings>
</configuration>